body {
margin: 0;
}

.bg {
	background: url("image/photohaut.jpg");
	height: 100vh;
	width: 100%;
	background-size: cover;
}

.logorbnb {
	height: 60px;
	width: 80px;

}
.conteneur {
	display: flex;
	font: 15px Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #ffffff;
 	justify-content: space-between;
}

p {
	margin: 10px;
	display: inline;
}

.carreblanc {
	margin: 55px 0px 0px 142px;
	padding: 32px 32px 24px 32px;
	width:380px;
	height:500px;
	background: #ffffff;
	border-radius: 4px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1{
	font-size: 30px;
	font-weight: bold;
}

imput{
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
	width: 100px;

}


